<div class="mdc-list" data-controller="dynamic-link">
  <a
    class="mdc-list-item"
    data-target="app-drawer.link"
    data-action="click->dynamic-link#follow click->app-drawer#close"
    href="mailto:benjcrowley@gmail.com"
    rel="noopener noreferrer"
    target="_blank"
  >
    <i class="mdc-list-item__graphic material-icons" aria-label="Email:">
      email
    </i>
    <span class="mdc-list-item__text">
      benjcrowley@gmail.com
    </span>
  </a>
  <a
    class="mdc-list-item"
    data-target="app-drawer.link"
    data-action="click->dynamic-link#follow click->app-drawer#close"
    href="tel:+14357578004"
    rel="noopener noreferrer"
    target="_blank"
  >
    <i
      class="mdc-list-item__graphic material-icons"
      aria-label="Phone:"
    >
      phone
    </i>
    <span class="mdc-list-item__text">
      801-875-2975
    </span>
    <i
      class="mdc-list-item__meta material-icons"
      aria-label="SMS:"
      data-replace="tel|sms"
    >
      sms
    </i>
  </a>
</div>
