<div class="mdc-list">
  <a
    class="mdc-list-item"
    data-target="app-drawer.link"
    data-action="click->app-drawer#close"
    href="https://www.facebook.com/Solar-Energy-Pros-Pros-de-la-Energ%C3%ADa-Solar-100193345393643"
    rel="noopener noreferrer"
    target="_blank"
  >
    <i class="mdc-list-item__graphic">
      <%= image_pack_tag "facebook/blue-58.png", alt: "Facebook", class: "img" %>
    </i>
    <span class="mdc-list-item__text">
      Facebook
    </span>
  </a>
</div>
