<!-- Render floating action button (fab) component -->
<button class="mdc-fab mdc-fab--extended site-fab" >
  <span class="material-icons mdc-fab__icon">chat</span>
  <span class="mdc-fab__label">Chat With Us</span>
</button>
