<div id="<%= local_assigns[:id].presence || "success_message" %>" class="mdc-banner mdc-banner__success mdc-banner__no-action">
  <div class="mdc-banner__content">
    <div class="mdc-banner__graphic-text-wrapper">
      <div class="mdc-banner__text">
        <p class="success-message">
          <%= (defined?(message) && message.presence) || "Successfully Submitted!" %>
        </p>
      </div>
    </div>
  </div>
</div>
