<div class="contact-us">
  <div class="mdc-card mb-1" >
    <div class="mdc-card__header mdc-card--filled">
      <h2 class="mdc-typography--headline6 text-center w-100">
        <%= t(:request_message) %>
      </h2>
    </div>
    <div class="mdc-card__body">
      <%= render partial: "shared/contact_form" %>
    </div>
  </div>
</div>
