<% provide :title, "Solar Energy Pros | Unsubscribe" %>

<h1 class="mdc-typography--headline2 text-center text-stroked text-bold">
  Unsubscribe from Solar Energy Pros Updates
</h1>

<%= render partial: "shared/unsubscribe_form" %>
