// Material Theming
@use "theme/styles/variables" as solar-theme;

// @use "@material/theme/variables" as theme-variables with (
@use "@material/theme" with (
  $primary: solar-theme.$primary,
  $on-primary: solar-theme.$on-primary,
  $secondary: solar-theme.$secondary,
  $on-secondary: solar-theme.$on-secondary,
  $error: solar-theme.$error,
  $on-error: solar-theme.$on-error
);

// @use "@material/typography/variables" as typography-variables with (
@use "@material/typography" with (
  $styles-headline1: (
    font-family: solar-theme.$header-font-family
  ),
  $styles-headline2: (
    font-family: solar-theme.$header-font-family
  ),
  $styles-headline3: (
    font-family: solar-theme.$header-font-family
  ),
  $styles-headline4: (
    font-family: solar-theme.$header-font-family
  ),
  $styles-headline5: (
    font-family: solar-theme.$header-font-family
  ),
  $styles-headline6: (
    font-family: solar-theme.$header-font-family
  ),
  $font-family: solar-theme.$font-family
);

@use "@material/layout-grid" with (
  $breakpoints: solar-theme.$breakpoints,
  $columns: solar-theme.$columns,
  $default-margin: solar-theme.$default-margin,
  $default-gutter: solar-theme.$default-gutter,
  $column-width: solar-theme.$column-width
);

// Import framework components
@use "material/styles/framework";

// Import site-specific CSS files
@use "material/styles/components";
@use "material/styles/offsets";
@use "material/styles/other";
